.box {
    height: 200px;
    width: 380px;
    border: solid red 5px;
    border-radius: 50px;
    margin-left: 20px;
    position:relative;
    bottom:500px;
}

.button1 {
   	margin-left: 140px;
    background-color: blue;
    position: relative;
    bottom: 35px;
}

.heading{
	margin-left: 30px;
    position: relative;
    top: 50px;
    
}
.count{
	margin-left:10px;
}
.text{
	margin-left:30px;
	}


.bluebox {
    height: 100px;
    width: 200px;
    border: solid 1px red;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    display: inline-block;
    background-color:aqua;
}
.button_Area {
    height: 250px;
    width: 430px;
    border: solid red 5px;
    margin-left: 380px;
    position: relative;
    top: 300px;
    background-color:skyblue;

}


